


/*
 Use "!important" carefully,
 probably if it's there is because
 some HS default CSS is using it too.
 (If you notice that thats not necesary
 then please, remove :) ).
 */

/*Code not related to a theme */
/*Fixing Mac text cursor issue in the code editor by inverting the cursor for dark code editor themes.*/
html.mac .cm-s-hubspot-canvas-dark .CodeMirror-lines, html.mac .cm-s-solarized .CodeMirror-lines{
  cursor:url("chrome-extension://__MSG_@@extension_id__/mac-text-cursor.svg"),url("chrome-extension://__MSG_@@extension_id__/mac-text-cursor.png"),text!important;
}

/*Move revert to Design Manager 1 button and Help Button*/

.ide-opt-out button.uiButton {
    bottom: 0px!important;
    width: 21px!important;
    padding: 0;
    height: 25px;
    right: 38px!important;
    border-radius:0!important;
}
#chat-widget div#help-widget {
    bottom: 0px;
    right: 0;
    height: 25px;
    width: 37px;
    /* border-radius: 0!important; */
}
a#help-widget-toggle {
    padding: 4px 0 0!important;
    border-radius: 0!important;
    text-align: center;
    height: 100%;
    /* display: inline-flex; */
    /* align-items: center; */
    /* justify-content: center; */
   
}




/* VARIABLES */
/*
 The idea behind is offer it as a base to be easily editable 
 -so anyone can do a new theme EZ. Or even do it 
 fully configurable inside the extension opt. page. 

 For now hover,focus or active use the same -hover variable,
 for a more rich theme we can consider in the future upgrade and split
 the cases
*/


body.design-manager.ext-dark-theme{
	--body-font-size: 15px; /** force bigger size for code */
	--body-color: #eaf0f6;
	--body-color-hover: rgba(255, 255, 255, 0.85); 
	--body-background: linear-gradient(45deg, #33475b, #2d3e50);
	--body-background-hover: rgba(203, 214, 226, 0.15);
	
	--border-color: transparent;
	
	--rgb-details-color: 63, 180, 249; /** used on icons, links and several details. Use only RGB format, RGBA is used on different classes. */

}

/*vertical scrollbars*/
body.design-manager.ext-dark-theme .Section__ScrollWrapper-jajphQ::-webkit-scrollbar,body.design-manager.ext-dark-theme .layout-tree-container::-webkit-scrollbar {
    width:9px;
}

body.design-manager.ext-dark-theme .Section__ScrollWrapper-jajphQ::-webkit-scrollbar-track,body.design-manager.ext-dark-theme .layout-tree-container::-webkit-scrollbar-track {
    /*-webkit-border-radius:5px;*/
    /*border-radius:5px;*/
    background:rgba(0,0,0,0.1)!important;
}
body.design-manager.ext-dark-theme .layout-tree-container::-webkit-scrollbar-track {
    background:#2d3e4e!important;
}

body.design-manager.ext-dark-theme .Section__ScrollWrapper-jajphQ::-webkit-scrollbar-thumb,body.design-manager.ext-dark-theme .layout-tree-container::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(63, 180, 249, 0.8);
}

body.design-manager.ext-dark-theme .Section__ScrollWrapper-jajphQ::-webkit-scrollbar-thumb:hover,body.design-manager.ext-dark-theme .layout-tree-container::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.4);
}

body.design-manager.ext-dark-theme .Section__ScrollWrapper-jajphQ::-webkit-scrollbar-thumb:window-inactive,body.design-manager.ext-dark-theme .layout-tree-container::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
}


body.design-manager.ext-dark-theme .CodeMirror.CodeMirror-overlayscroll {
    font-size: var(--body-font-size) !important;

}
.CodeMirror-overlayscroll-vertical>div {
    background:rgba(63, 180, 249, 0.8)!important;
    opacity:1!important;
}




body.hubspot.design-manager.ext-dark-theme,
body.design-manager.ext-dark-theme .editor-toolbar,
body.design-manager.ext-dark-theme .file-tabs.private-tabs .file-tab,
body.design-manager.ext-dark-theme .private-popover.private-tooltip--longform,
body.design-manager.ext-dark-theme .private-dropdown .Select-menu-outer {
    color: var(--body-color);
    background: var(--body-background);
    border-color: var(--border-color);
}

body.design-manager.ext-dark-theme .private-nav-item {
    color: rgba(255, 255, 255, .6) !important;
}

body.design-manager.ext-dark-theme .private-nav-item:hover,
body.design-manager.ext-dark-theme .private-nav-item.private-nav-item--active,
body.design-manager.ext-dark-theme .private-alert--info,
body.design-manager.ext-dark-theme .private-table,
body.design-manager.ext-dark-theme .private-scroll__wrapper--tables,
body.design-manager.ext-dark-theme .private-dropdown .Select-noresults,
body.design-manager.ext-dark-theme .private-dropdown__results .Select-noresults {
    background: var(--body-background-hover) !important;
    color: var(--body-color-hover) !important;
}

body.design-manager.ext-dark-theme .editor-toolbar {
    height: auto;
    padding: .5rem;
}

body.design-manager.ext-dark-theme .HorizontalScrollContainer__ScrollBar-efpkTc {
    background: rgba(255, 255, 255, .8)!important;
    height: .4rem;
    bottom: .4rem;
    cursor: e-resize;
}

body.design-manager.ext-dark-theme .namespaced-hack-section--vertical{
    background-size: 100% .2em;
}



body.design-manager.ext-dark-theme .UIExpandableSection__ExpandableHeader-gjMdOM,
body.design-manager.ext-dark-theme .cFBEqa {
    background: transparent;
    border-bottom: transparent;
}

body.design-manager.ext-dark-theme .is--text--help,
body.design-manager.ext-dark-theme .private-form__control,
body.design-manager.ext-dark-theme .Select-option,
body.design-manager.ext-dark-theme span.private-icon.private-icon__high {
    color: rgba(255, 255, 255, .5)!important;
}

body.design-manager.ext-dark-theme .private-checkbox__input[value=on]~.private-checkbox__text .private-dropdown__item__label,
body.design-manager.ext-dark-theme .private-moveable-object:hover,
body.design-manager.ext-dark-theme .private-tab.private-tab--active .private-icon:not(.private-icon-circle__inner),
body.design-manager.ext-dark-theme .private-moveable-object:hover .private-icon:not(.private-icon-circle__inner),
body.design-manager.ext-dark-theme .layout-tree .widget-icon {
    color: #d6cbcb!important;
}

/*body.design-manager.ext-dark-theme .private-link:hover*/


body.design-manager.ext-dark-theme .private-expanding-text-input--inline.private-expanding-text-input--focused .private-expanding-text-input__input,
body.design-manager.ext-dark-theme .private-expanding-text-input--inline.private-expanding-text-input--hovered .private-expanding-text-input__input,
body.design-manager.ext-dark-theme .private-flex.dm-tool__breadcrumbs.field-edit-breadcrumbs,
body.design-manager.ext-dark-theme .private-form__toggle-switch--sm .private-form__toggle-switch__inner:not(.private-form__toggle-switch--on),
body.design-manager.ext-dark-theme .private-form__toggle-switch--xs .private-form__toggle-switch__inner:not(.private-form__toggle-switch--on) {
    background: transparent;
}

body.design-manager.ext-dark-theme .private-expanding-text-input--inline.private-expanding-text-input--focused .private-expanding-text-input__wrapper,
body.design-manager.ext-dark-theme .private-expanding-text-input--inline.private-expanding-text-input--hovered .private-expanding-text-input__wrapper,
body.design-manager.ext-dark-theme .private-form__control:hover,
body.design-manager.ext-dark-theme .private-form__control {
    background: rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .1);
}


body.design-manager.ext-dark-theme .private-search-control__wrapper,
body.design-manager.ext-dark-theme .private-button.private-form__control,
body.design-manager.ext-dark-theme .private-button.private-form__control:focus,
body.design-manager.ext-dark-theme .private-button.private-form__control:hover,
body.design-manager.ext-dark-theme .dm-tool__breadcrumbs {
    background: #33475b!important;
}

body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>a,
body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>button,
body.design-manager.ext-dark-theme .private-tabs .private-tab,
body.design-manager.ext-dark-theme .private-moveable-object,
body.design-manager.ext-dark-theme .layout-tree .widget-icon {
    color: rgba(255, 255, 255, .5)!important;
}

body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>a:hover,
body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>button:hover,
body.design-manager.ext-dark-theme .private-typeahead-results .private-typeahead-result--highlighted,
body.design-manager.ext-dark-theme .private-typeahead-results .private-typeahead-result--disabled .private-typeahead-result-label,
body.design-manager.ext-dark-theme .result-item.result-item--is--active,
body.design-manager.ext-dark-theme .result-item:hover{
    background: rgba(255, 255, 255, .1)!important;
    color: #d6cbcb!important;
}

body.design-manager.ext-dark-theme .private-dropdown .Select-option,
body.design-manager.ext-dark-theme .private-dropdown__results .Select-option,
body.design-manager.ext-dark-theme .Select-option-group-label,
body.design-manager.ext-dark-theme .private-search-control__wrapper,
body.design-manager.ext-dark-theme .private-search-control__wrapper .private-search-control__input,
body.design-manager.ext-dark-theme .private-dropdown .Select-option.is-focused,
body.design-manager.ext-dark-theme .private-dropdown__results .Select-option.is-focused,
body.design-manager.ext-dark-theme .uiList .private-moveable-object,
body.design-manager.ext-dark-theme .private-button--secondary,
body.design-manager.ext-dark-theme .context-menu,
body.design-manager.ext-dark-theme .private-scroll__wrapper--tables,
body.design-manager.ext-dark-theme .layout-tree .widget-width {
    background: #33475b;
    border-color: transparent;
}

body.design-manager.ext-dark-theme .widget-toolbox-list-item .widget-icon__mask,
body.design-manager.ext-dark-theme .layout-tree .widget-icon__mask {
    background: #d6cbcb!important;
}

body.design-manager.ext-dark-theme .widget-toolbox-list-item span.private-icon.private-icon__low,
body.design-manager.ext-dark-theme .private-button--primary {
    color: #d6cbcb!important;
}
/*publish button*/
body.design-manager.ext-dark-theme .private-button--active.private-button--primary {
    color: #fff!important;
}

body.design-manager.ext-dark-theme .private-tabs .private-tab--active .private-tab__indicator{
	color: rgb( var(--rgb-details-color) );
	
}


/*body.design-manager .layout-tree .widget,*/

body.design-manager.ext-dark-theme .private-button.private-button--disabled,
body.design-manager.ext-dark-theme .private-button[aria-disabled=true],
body.design-manager.ext-dark-theme .private-button--tertiary-light,
body.design-manager.ext-dark-theme .cm-s-hubspot-canvas-light,
body.design-manager.ext-dark-theme .cm-s-hubspot-canvas-light .CodeMirror-gutters {
    background: rgba(255, 255, 255, .1) !important;
    color: #d6cbcb !important;
}

body.design-manager.ext-dark-theme .cm-s-hubspot-canvas-light {
    background: transparent
}

body.design-manager.ext-dark-theme .private-button.private-button--disabled,
body.design-manager.ext-dark-theme .private-button[aria-disabled=true] {
    color: rgba(255, 255, 255, .25) !important;
}

body.design-manager.ext-dark-theme .cm-s-hubspot-canvas-light .CodeMirror-cursor {
    border-left-color: #d6cbcb !important;
}



body.design-manager.ext-dark-theme .widget-css-selector .is--text--help,
body.design-manager.ext-dark-theme span.private-icon.private-icon__high {
    color: rgba( var(--rgb-details-color), .8) !important;
}


/** blue stuff **/

body.design-manager.ext-dark-theme .file-tabs.private-tabs .file-tab.is--active {
    
    color: rgb( var(--rgb-details-color) ) !important;
    background:#2d3e50;
}
body.design-manager.ext-dark-theme .file-tabs.private-tabs .file-tab.is--active .tab-title-label{text-decoration:underline;}
body.design-manager.ext-dark-theme .file-tabs.private-tabs .file-tab.is--active .has-buffered-changes:after{text-decoration:none;}

body.design-manager.ext-dark-theme .widget-icon__mask[style*="background-color: rgb(81, 111, 144)"],
body.design-manager.ext-dark-theme .widget-icon__mask[style*="background-color: rgb(51, 71, 91)"],
body.design-manager.ext-dark-theme .layout-tree .widget.section_delimiter,
body.design-manager.ext-dark-theme .private-button--primary {
    background-color: rgba( var(--rgb-details-color), .8) !important;
}

body.design-manager.ext-dark-theme .layout-tree .widget-meta-icon {
    color: #3fb4f9 !important;
}

body.design-manager.ext-dark-theme .private-folder-nav .private-nav .private-nav-item__icon-left,
body.design-manager.ext-dark-theme .private-button__link,
body.design-manager.ext-dark-theme .private-button--transparent,
body.design-manager.ext-dark-theme .private-search-control__icon,
body.design-manager.ext-dark-theme .private-link,
body.design-manager.ext-dark-theme .cOLjXL:hover:not([aria-disabled='true']),
body.design-manager.ext-dark-theme .private-dropdown .Select-option button,
body.design-manager.ext-dark-theme .private-dropdown__results .Select-option button {
    color: rgba( var(--rgb-details-color), .8) !important;
}

body.design-manager.ext-dark-theme .private-folder-nav .private-nav .nav-item-link:hover .private-nav-item__icon-left,
body.design-manager.ext-dark-theme .private-button__link:hover,
body.design-manager.ext-dark-theme .private-link:hover,
body.design-manager.ext-dark-theme .private-link .private-icon:not(.private-icon-circle__inner),

body.design-manager.ext-dark-theme .is--text--help,
body.design-manager.ext-dark-theme .private-button--secondary,
body.design-manager.ext-dark-theme .layout-tree .widget-width {
    color: rgba( var(--rgb-details-color), 1) !important;
}


body.design-manager.ext-dark-theme .layout-tree .widget.is--widget-selected,
body.design-manager.ext-dark-theme .layout-tree .widget.section_delimiter,
body.design-manager.ext-dark-theme .private-button--primary,
body.design-manager.ext-dark-theme .private-button--secondary {
    border-color: rgba( var(--rgb-details-color), 1) !important;
}





body.design-manager.ext-dark-theme .fjXxQD {
    background: transparent;
}




/** widget tree backgrounds **/

body.design-manager.ext-dark-theme .layout-tree,
body.design-manager.ext-dark-theme .layout-tree .widget {
    background-color: #33475b;
}


/* flex col */

body.design-manager.ext-dark-theme.layout-editor--is_active .layout-tree .widget.widget_container.is--responsive{	
	
	background-image: url('<svg viewBox="0 0 100 18" transform="rotate(90 290,200)"><path fill="#fff" d="M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z"/></svg>');
	background-repeat:repeat;
	background-position: 40% 100%;

}


body.design-manager.ext-dark-theme .layout-tree .widget.is--widget-selected{
	
}


body.design-manager.ext-dark-theme .cm-s-hubspot-canvas-light .CodeMirror-cursor {
    border-left-color: #fff !important;
}

body.design-manager.ext-dark-theme .private-expanding-text-input--inline.private-expanding-text-input--focused .private-expanding-text-input__wrapper,
body.design-manager.ext-dark-theme .private-expanding-text-input--inline.private-expanding-text-input--hovered .private-expanding-text-input__wrapper,
body.design-manager.ext-dark-theme .private-form__control:hover,
body.design-manager.ext-dark-theme .private-form__control {
    background: rgba(255, 255, 255, .1) !important;
    background-color: rgba(255, 255, 255, .1) !important;
}

body.design-manager.ext-dark-theme .private-modal--default,
body.design- manager.ext-dark-theme .private-modal__footer {
    background: linear-gradient(45deg, rgb(51, 71, 91), rgb(45, 62, 80));

}

body.design-manager.ext-dark-theme .status-bar {
    background: #2e2e2e !important;
    border-top: 0;
    color: rgba(255, 255, 255, 0.5);
}

body .design-manager.ext-dark-theme .status-bar__status,
body.design-manager.ext-dark-theme .status-bar-section,
body.design-manager.ext-dark-theme .kcUwaw,
body.design-manager.ext-dark-theme .status-bar__status {
    border-color: #3a3333 !important;
}
body.design-manager.ext-dark-theme .layout-tree .ui-grid-item-widget-wrapper{
  border:0 !important;
}

/*right click context menu.*/
body.design-manager.ext-dark-theme .private-popover.private-popover--default,
body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>.private-file-button .private-button,
body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>a,
body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>button,
body.design-manager.ext-dark-theme ul.uiList.private-list--unstyled.private-dropdown--list{
  background:rgb(36, 50, 64) !important;


}
/*accordions in sidebar.*/
body.design-manager.ext-dark-theme .UIExpandableSection__ExpandableHeader-gJHpqS{
  background-color:transparent !important;
}

/* scroll bar in the head (to navigate through the different opened elements */
body.design-manager.ext-dark-theme .iWgPZI{
	background-color: rgb( var(--rgb-details-color) ) !important;
}

/* success notification */
body.design-manager.ext-dark-theme .private-alert--success{
	background-color: rgba( var(--rgb-details-color), 0.9) !important;
	border-color:transparent;
}
body.design-manager.ext-dark-theme .private-alert__close{
	color:#fff;
}

/* error notification */
body.design-manager.ext-dark-theme .private-alert--danger{
  background-color: rgba(242,84,91,.7) !important;
  color: #fff;
}


/* empty initial page */
body.design-manager.ext-dark-theme .empty-state-view{
	background: var(--body-background);
}

body.design-manager.ext-dark-theme .empty-state-view,
body.design-manager.ext-dark-theme .empty-state-view .is--text--help,
body.design-manager.ext-dark-theme .empty-state-view .private-table thead th{
	color: var(--body-color);
}



/** settings page **/
body.design-manager.ext-dark-theme .settings-editor-app,
body.design-manager.ext-dark-theme .private-card,
body.design-manager.ext-dark-theme .private-panel{
	background: var(--body-background);
}
body.design-manager.ext-dark-theme .settings-column .private-side-nav__item a{
	color:#fff;
}
body.design-manager.ext-dark-theme .settings-column .private-side-nav__item{
	background: transparent;
}
body.design-manager.ext-dark-theme .settings-column .private-side-nav__item--active a,
body.design-manager.ext-dark-theme .settings-column .private-side-nav__item a:hover{
	color: rgb( var(--rgb-details-color) );
}

/** remove background from fields in groups (right sidebar CM) */
body.design-manager.ext-dark-theme .custom-widget-editor-sidebar .custom-widget-fields-table .custom-widget-fields-table-row .field-row-and-children-container.is--child-field{
	background: transparent !important;
}

/** left sidebar > search results */
body.design-manager.ext-dark-theme .result-item a,
body.design-manager.ext-dark-theme .result-item .result-item-help .is--text--help{
	color: #fff !important;
}

body.design-manager.ext-dark-theme .result-item.result-item--is--active .result-item-title a,
body.design-manager.ext-dark-theme .result-item:hover .result-item-title a,
body.design-manager.ext-dark-theme .result-item:hover [class*=private-icon__]{
	color: rgb( var(--rgb-details-color) ) !important;
}

/* Modals */
body.design-manager.ext-dark-theme .private-modal,
body.design-manager.ext-dark-theme .private-modal .private-modal__footer{
	background: var(--body-background);
	color: #fff;
}
body.design-manager.ext-dark-theme .private-modal.private-table thead th{
	color: rgb( var(--rgb-details-color) );
}

/* new file modal */
body.design-manager.ext-dark-theme .private-selectable-box{
	background: var(--body-background);
}

/* left sidebar: dependent & revision submenu */
body.design-manager.ext-dark-theme .finder-container .file-dependents-container,
body.design-manager.ext-dark-theme .finder-container .file-revisions-container{
    background: var(--body-background);
}
body.design-manager.ext-dark-theme .finder-container .result-item:hover,
body.design-manager.ext-dark-theme .finder-container .result-item:hover{
	background:none !important;
}

/* remove white background in the new file -> folder selector popup */
body.design-manager.ext-dark-theme .bqQvdP .private-tile {
    background: transparent;
}
/**
/* 
#33475b
#2d3e50
*/