/*
 the "!important" are used carefully,
 probably if it's there is because
 some HS default CSS is using it too.
 */



/* VARIABLES */
/*
 The idea behind is offer it as a base to be easily editable 
 -so anyone can do a new theme EZ. Or even do it 
 fully configurable inside the extension opt. page. 

 For now hover,focus or active use the same -hover variable,
 for a more rich theme we can consider in the future upgrade and split
 the cases
*/


body.design-manager.ext-dark-theme{
	--body-font-size: 15px; /** force bigger size for code */
	--body-color: #eaf0f6;
	--body-color-hover: rgba(255, 255, 255, 0.85); 
	--body-background: linear-gradient(45deg, #33475b, #2d3e50);
	--body-background-hover: rgba(203, 214, 226, 0.15);
	
	--border-color: transparent;
	
	--rgb-details-color: 63, 180, 249; /** used on icons, links and several details. Use only RGB format, RGBA is used on different classes. */

}

body.design-manager.ext-dark-theme .CodeMirror.CodeMirror-overlayscroll {
    font-size: var(--body-font-size) !important;
}




body.hubspot.design-manager.ext-dark-theme,
body.design-manager.ext-dark-theme .editor-toolbar,
body.design-manager.ext-dark-theme .file-tabs.private-tabs .file-tab,
body.design-manager.ext-dark-theme .private-popover.private-tooltip--longform,
body.design-manager.ext-dark-theme .private-dropdown .Select-menu-outer {
    color: var(--body-color);
    background: var(--body-background);
    border-color: var(--border-color);
}

body.design-manager.ext-dark-theme .private-nav-item {
    color: rgba(255, 255, 255, .6) !important;
}

body.design-manager.ext-dark-theme .private-nav-item:hover,
body.design-manager.ext-dark-theme .private-nav-item.private-nav-item--active,
body.design-manager.ext-dark-theme .private-alert--info,
body.design-manager.ext-dark-theme .private-table,
body.design-manager.ext-dark-theme .private-scroll__wrapper--tables,
body.design-manager.ext-dark-theme .private-dropdown .Select-noresults,
body.design-manager.ext-dark-theme .private-dropdown__results .Select-noresults {
    background: var(--body-background-hover) !important;
    color: var(--body-color-hover) !important;
}

body.design-manager.ext-dark-theme .editor-toolbar {
    height: auto;
    padding: .5rem;
}

body.design-manager.ext-dark-theme .HorizontalScrollContainer__ScrollBar-efpkTc {
    background: rgba(255, 255, 255, .8)!important;
    height: .4rem;
    bottom: .4rem;
    cursor: e-resize;
}

body.design-manager.ext-dark-theme .namespaced-hack-section--vertical{
    background-size: 100% .2em;
}



body.design-manager.ext-dark-theme .UIExpandableSection__ExpandableHeader-gjMdOM,
body.design-manager.ext-dark-theme .cFBEqa {
    background: transparent;
    border-bottom: transparent;
}

body.design-manager.ext-dark-theme .is--text--help,
body.design-manager.ext-dark-theme .private-form__control,
body.design-manager.ext-dark-theme .Select-option,
body.design-manager.ext-dark-theme span.private-icon.private-icon__high {
    color: rgba(255, 255, 255, .5)!important;
}

body.design-manager.ext-dark-theme .private-checkbox__input[value=on]~.private-checkbox__text .private-dropdown__item__label,
body.design-manager.ext-dark-theme .private-moveable-object:hover,
body.design-manager.ext-dark-theme .private-link:hover .private-icon:not(.private-icon-circle__inner),
body.design-manager.ext-dark-theme .private-moveable-object:hover .private-icon:not(.private-icon-circle__inner),
body.design-manager.ext-dark-theme .layout-tree .widget-icon {
    color: #d6cbcb!important;
}

body.design-manager.ext-dark-theme .private-expanding-text-input--inline.private-expanding-text-input--focused .private-expanding-text-input__input,
body.design-manager.ext-dark-theme .private-expanding-text-input--inline.private-expanding-text-input--hovered .private-expanding-text-input__input,
body.design-manager.ext-dark-theme .private-flex.dm-tool__breadcrumbs.field-edit-breadcrumbs,
body.design-manager.ext-dark-theme .private-form__toggle-switch--sm .private-form__toggle-switch__inner:not(.private-form__toggle-switch--on),
body.design-manager.ext-dark-theme .private-form__toggle-switch--xs .private-form__toggle-switch__inner:not(.private-form__toggle-switch--on) {
    background: transparent;
}

body.design-manager.ext-dark-theme .private-expanding-text-input--inline.private-expanding-text-input--focused .private-expanding-text-input__wrapper,
body.design-manager.ext-dark-theme .private-expanding-text-input--inline.private-expanding-text-input--hovered .private-expanding-text-input__wrapper,
body.design-manager.ext-dark-theme .private-form__control:hover,
body.design-manager.ext-dark-theme .private-form__control {
    background: rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .1);
}

body.design-manager.ext-dark-theme .private-popover.private-popover--default,
body.design-manager.ext-dark-theme .private-search-control__wrapper,
body.design-manager.ext-dark-theme .private-button.private-form__control,
body.design-manager.ext-dark-theme .private-button.private-form__control:focus,
body.design-manager.ext-dark-theme .private-button.private-form__control:hover,
body.design-manager.ext-dark-theme .dm-tool__breadcrumbs {
    background: #33475b!important;
}

body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>a,
body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>button,
body.design-manager.ext-dark-theme .private-tabs .private-tab,
body.design-manager.ext-dark-theme .private-moveable-object,
body.design-manager.ext-dark-theme .layout-tree .widget-icon {
    color: rgba(255, 255, 255, .5)!important;
}

body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>a:hover,
body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>button:hover,
body.design-manager.ext-dark-theme .private-typeahead-results .private-typeahead-result--highlighted,
body.design-manager.ext-dark-theme .private-typeahead-results .private-typeahead-result--disabled .private-typeahead-result-label{
    background: rgba(255, 255, 255, .1)!important;
    color: #d6cbcb!important;
}

body.design-manager.ext-dark-theme .private-dropdown .Select-option,
body.design-manager.ext-dark-theme .private-dropdown__results .Select-option,
body.design-manager.ext-dark-theme .Select-option-group-label,
body.design-manager.ext-dark-theme .private-search-control__wrapper,
body.design-manager.ext-dark-theme .private-search-control__wrapper .private-search-control__input,
body.design-manager.ext-dark-theme .private-dropdown .Select-option.is-focused,
body.design-manager.ext-dark-theme .private-dropdown__results .Select-option.is-focused,
body.design-manager.ext-dark-theme .uiList .private-moveable-object,
body.design-manager.ext-dark-theme .private-button--secondary,
body.design-manager.ext-dark-theme .context-menu,
body.design-manager.ext-dark-theme .private-scroll__wrapper--tables,
body.design-manager.ext-dark-theme .layout-tree .widget-width {
    background: #33475b;
    border-color: transparent;
}

body.design-manager.ext-dark-theme .widget-toolbox-list-item .widget-icon__mask,
body.design-manager.ext-dark-theme .layout-tree .widget-icon__mask {
    background: #d6cbcb!important;
}

body.design-manager.ext-dark-theme .widget-toolbox-list-item span.private-icon.private-icon__low,
body.design-manager.ext-dark-theme .private-button--primary {
    color: #d6cbcb!important;
}

body.design-manager.ext-dark-theme .private-tabs .private-tab--active .private-tab__indicator{
	color: rgb( var(--rgb-details-color) );
	
}


/*body.design-manager .layout-tree .widget,*/

body.design-manager.ext-dark-theme .private-button.private-button--disabled,
body.design-manager.ext-dark-theme .private-button[aria-disabled=true],
body.design-manager.ext-dark-theme .private-button--tertiary-light,
body.design-manager.ext-dark-theme .cm-s-hubspot-canvas-light,
body.design-manager.ext-dark-theme .cm-s-hubspot-canvas-light .CodeMirror-gutters {
    background: rgba(255, 255, 255, .1) !important;
    color: #d6cbcb !important;
}

body.design-manager.ext-dark-theme .cm-s-hubspot-canvas-light {
    background: transparent
}

body.design-manager.ext-dark-theme .private-button.private-button--disabled,
body.design-manager.ext-dark-theme .private-button[aria-disabled=true] {
    color: rgba(255, 255, 255, .25) !important;
}

body.design-manager.ext-dark-theme .cm-s-hubspot-canvas-light .CodeMirror-cursor {
    border-left-color: #d6cbcb !important;
}



body.design-manager.ext-dark-theme .widget-css-selector .is--text--help,
body.design-manager.ext-dark-theme span.private-icon.private-icon__high {
    color: rgba( var(--rgb-details-color), .8) !important;
}


/** blue stuff **/

body.design-manager.ext-dark-theme .file-tabs.private-tabs .file-tab.is--active {
    background: transparent;
    color: rgb( var(--rgb-details-color) ) !important;
}

body.design-manager.ext-dark-theme .widget-icon__mask[style*="background-color: rgb(81, 111, 144)"],
body.design-manager.ext-dark-theme .widget-icon__mask[style*="background-color: rgb(51, 71, 91)"],
body.design-manager.ext-dark-theme .layout-tree .widget.section_delimiter,
body.design-manager.ext-dark-theme .private-button--primary {
    background-color: rgba( var(--rgb-details-color), .8) !important;
}

body.design-manager.ext-dark-theme .layout-tree .widget-meta-icon {
    color: #3fb4f9 !important;
}

body.design-manager.ext-dark-theme .private-folder-nav .private-nav .private-nav-item__icon-left,
body.design-manager.ext-dark-theme .private-button__link,
body.design-manager.ext-dark-theme .private-button--transparent,
body.design-manager.ext-dark-theme .private-search-control__icon,
body.design-manager.ext-dark-theme .private-link,
body.design-manager.ext-dark-theme .cOLjXL:hover:not([aria-disabled='true']),
body.design-manager.ext-dark-theme .private-dropdown .Select-option button,
body.design-manager.ext-dark-theme .private-dropdown__results .Select-option button {
    color: rgba( var(--rgb-details-color), .8) !important;
}

body.design-manager.ext-dark-theme .private-folder-nav .private-nav .nav-item-link:hover .private-nav-item__icon-left,
body.design-manager.ext-dark-theme .private-button__link:hover,
body.design-manager.ext-dark-theme .private-link:hover,
body.design-manager.ext-dark-theme .private-link .private-icon:not(.private-icon-circle__inner),

body.design-manager.ext-dark-theme .is--text--help,
body.design-manager.ext-dark-theme .private-button--secondary,
body.design-manager.ext-dark-theme .layout-tree .widget-width {
    color: rgba( var(--rgb-details-color), 1) !important;
}


body.design-manager.ext-dark-theme .layout-tree .widget.is--widget-selected,
body.design-manager.ext-dark-theme .layout-tree .widget.section_delimiter,
body.design-manager.ext-dark-theme .private-button--primary,
body.design-manager.ext-dark-theme .private-button--secondary {
    border-color: rgba( var(--rgb-details-color), 1) !important;
}





body.design-manager.ext-dark-theme .fjXxQD {
    background: transparent;
}




/** widget tree backgrounds **/

body.design-manager.ext-dark-theme .layout-tree,
body.design-manager.ext-dark-theme .layout-tree .widget {
    background-color: #33475b;
}


/* flex col */
body.design-manager.ext-dark-theme .layout-tree .widget_container:not(.section_delimiter){
	
	/* remark or bg for flex cols? */
}

body.design-manager.ext-dark-theme .layout-tree .widget.is--widget-selected{
	
}


body.design-manager.ext-dark-theme .cm-s-hubspot-canvas-light .CodeMirror-cursor {
    border-left-color: #fff !important;
}

body.design-manager.ext-dark-theme .private-expanding-text-input--inline.private-expanding-text-input--focused .private-expanding-text-input__wrapper,
body.design-manager.ext-dark-theme .private-expanding-text-input--inline.private-expanding-text-input--hovered .private-expanding-text-input__wrapper,
body.design-manager.ext-dark-theme .private-form__control:hover,
body.design-manager.ext-dark-theme .private-form__control {
    background: rgba(255, 255, 255, .1) !important;
    background-color: rgba(255, 255, 255, .1) !important;
}

body.design-manager.ext-dark-theme .private-modal--default,
body.design- manager.ext-dark-theme .private-modal__footer {
    background: linear-gradient(45deg, rgb(51, 71, 91), rgb(45, 62, 80));

}

body.design-manager.ext-dark-theme .status-bar {
    background: #2e2e2e !important;
    border-top: 0;
    color: rgba(255, 255, 255, 0.5);
}

body .design-manager.ext-dark-theme .status-bar__status,
body.design-manager.ext-dark-theme .status-bar-section,
body.design-manager.ext-dark-theme .kcUwaw,
body.design-manager.ext-dark-theme .status-bar__status {
    border-color: #3a3333 !important;
}
body.design-manager.ext-dark-theme .layout-tree .ui-grid-item-widget-wrapper{
  border:0 !important;
}

/*right click context menu.*/
body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>.private-file-button .private-button,body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>a,body.design-manager.ext-dark-theme .private-dropdown--list .private-list__item>button,body.design-manager.ext-dark-theme ul.uiList.private-list--unstyled.private-dropdown--list{
  background:rgb(36, 50, 64) !important;


}
/*accordions in sidebar.*/
body.design-manager.ext-dark-theme .UIExpandableSection__ExpandableHeader-gJHpqS{
  background-color:transparent !important;
}



/* 
#33475b
#2d3e50
*/