.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}
.tab-container {
	display: flex;
}
.tab-buttons {
	display: flex;
	flex-direction: column;
	text-align: left;
}
body {
	margin: 0;
}
h1,
p {
	margin: 0;
}
.wrapper {
	padding: 1.25rem;
	margin: 0 auto;
}
.inputs {
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
}

.inputs > div {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 5px;
	margin-bottom: 10px;
}
.inputs input {
	text-align: left;
	flex: 1;
}
#link-list {
	list-style: none;
	padding: 0;
}
#link-list li {
	cursor: move;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 0.75rem 0;
	border-bottom: 1px solid rgb(243, 244, 246);
}

#link-list span {
	color: rgb(17, 24, 39);
	display: block;
	font-weight: bold;
}
#link-list span + span,
small {
	color: rgb(107, 114, 128);
	font-weight: normal;
	font-size: 0.75rem;
}

label {
	min-width: 60px;
	display: inline-block;
	color: rgb(17, 24, 39);
}

button,
input {
	background: rgb(255, 255, 255);
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	border: 1px solid rgb(229, 231, 235);
	border-radius: 3px;
	color: rgb(17, 24, 39);
	font-size: 0.75rem;
	cursor: pointer;
}
button:hover {
	background: rgb(249, 250, 251);
}
.button-container {
	display: flex;
	align-content: center;
	gap: 10px;
}
.dragging {
	opacity: 0.5;
}

#add-link {
	min-width: 60px;
	align-self: flex-end;
}
